In [24]:
import pandas as pd
import numpy as np
import glob

In [7]:
#oceanrach data
all_animal_data = pd.read_csv('All Animal Data.csv')

In [13]:
all_animal_data.head(10)

,active,datetime,id,latitude,longitude,tz_datetime,animal_type,animal_id,epoch_time
0,1,2012-03-16 18:31:39,1,-34.142,22.200,16 March 2012 6:31:39 PM +0900,White Shark (Carcharodon carcharias),9,1331922699
1,1,2012-03-16 18:48:58,2,-34.115,22.201,16 March 2012 6:48:58 PM +0900,White Shark (Carcharodon carcharias),9,1331923738
2,1,2012-03-16 20:15:40,3,-34.138,22.200,16 March 2012 8:15:40 PM +0900,White Shark (Carcharodon carcharias),9,1331928940
3,1,2012-03-16 23:09:05,4,-34.192,22.228,16 March 2012 11:09:05 PM +0900,White Shark (Carcharodon carcharias),9,1331939345
4,1,2012-03-17 0:36:43,5,-34.204,22.239,17 March 2012 12:36:43 AM +0900,White Shark (Carcharodon carcharias),9,1331944603
5,1,2012-03-17 0:52:50,6,-34.210,22.209,17 March 2012 12:52:50 AM +0900,White Shark (Carcharodon carcharias),9,1331945570
6,1,2012-03-17 1:16:51,7,-34.218,22.208,17 March 2012 1:16:51 AM +0900,White Shark (Carcharodon carcharias),9,1331947011
7,1,2012-03-17 2:36:14,8,-34.236,22.204,17 March 2012 2:36:14 AM +0900,White Shark (Carcharodon carcharias),9,1331951774
8,1,2012-03-17 4:32:38,9,-34.224,22.187,17 March 2012 4:32:38 AM +0900,White Shark (Carcharodon carcharias),9,1331958758
9,1,2012-03-17 4:33:52,10,-34.246,22.208,17 March 2012 4:33:52 AM +0900,White Shark (Carcharodon carcharias),9,1331958832

In [11]:
#oceanreach data
complete_df = pd.read_csv('complete_df.csv')

In [12]:
completed_df.head(10)

,Unnamed: 0,shark_id,prg_no,lat,long,loc_quality,loc_date,loc_type,alt,pass,...,semi_major_axis,semi_minor_axis,ellipse_orientation,gdop,depth,depthChangeDownstream,depthChangeUpstream,bearing,timeStep,distanceStep
0,7,176750,6328,42.21174,-69.76559,2,2018-08-03 0:34:00,Argos,0,232,...,1113,111,147,941,-230.133287,40.972394,2.416062,0.000000,0 days 00:00:00.000000000,0.000000
1,19,176750,6328,42.22635,-69.29816,3,2018-08-05 1:35:00,Argos,0,364,...,608,79,75,250,-210.668800,13.669697,-12.705825,103.202092,2 days 01:01:00.000000000,52.059668
2,21,176750,6328,42.23238,-69.26292,0,2018-08-05 1:35:00,Argos,0,241,...,40196,89,80,1361,-203.973541,4.200017,-26.632427,95.444627,0 days 00:00:00.000000000,3.979929
3,37,176750,6328,42.17643,-68.26119,0,2018-08-08 13:23:00,Argos,0,329,...,75151,234,105,1213,-194.135294,6.043765,4.494556,108.364567,3 days 11:48:00.000000000,111.686277
4,46,176750,6328,42.09855,-68.03666,0,2018-08-09 14:54:00,Argos,0,159,...,98147,275,93,3037,-219.582365,-7.287249,14.605635,124.597846,1 days 01:31:00.000000000,26.455522
5,51,176750,6328,42.13153,-68.00633,0,2018-08-09 20:27:00,Argos,0,324,...,40784,67,86,2202,-230.846683,5.151836,9.263103,58.119684,0 days 05:33:00.000000000,4.987814
6,58,176750,6328,42.08878,-67.94891,2,2018-08-10 0:12:00,Argos,0,173,...,2836,78,96,1296,-204.266227,6.915460,34.275356,142.201625,0 days 03:45:00.000000000,7.968995
7,70,176750,6328,42.37687,-67.96824,2,2018-08-11 15:52:00,Argos,0,506,...,593,263,84,322,-171.737983,-15.673507,13.783780,11.700808,1 days 15:40:00.000000000,32.142257
8,92,176750,6328,42.34061,-68.13517,1,2018-08-13 22:51:00,Argos,0,299,...,5250,71,73,522,-190.455827,-4.861464,-20.543565,-86.652638,2 days 06:59:00.000000000,19.015970
9,105,176750,6328,42.34930,-68.34996,2,2018-08-14 13:10:00,Argos,0,333,...,954,153,40,594,-207.999899,15.253002,-17.680116,-72.138215,0 days 14:19:00.000000000,23.929961

In [16]:
#beneath the wave data
ag_gfw_meta = pd.read_csv('AG_GFW_meta.csv')

In [17]:
ag_gfw_meta.head(10)

,SpeciesCode,SPOT PTT,TagType,TagDay,TagMonth,TagYear,TagTime,TagLat,TagLong,TL_cm,Sex,Maturity,OcearchName,Species,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BSH,106744.0,SPOT,27.0,8.0,2016.0,NaN,41.404333,-69.298667,277,M,adult,Don,Prionace glauca,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BSH,106745.0,SPOT,28.0,8.0,2016.0,13:33,41.520500,-69.427500,270,M,adult,Vader,Prionace glauca,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BSH,106746.0,SPOT,28.0,8.0,2016.0,12:33,41.536667,-69.418833,262,M,adult,Ciona,Prionace glauca,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,BSH,106747.0,SPOT,18.0,10.0,2016.0,NaN,41.466667,-69.333333,244,M,adult,Cubswin,Prionace glauca,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,BSH,106748.0,SPOT,27.0,8.0,2016.0,12:33,41.094567,-69.380333,245,M,adult,Mahkato,Prionace glauca,NaN,NaN,NaN

In [18]:
#beneath the wave data
beneath_the_waves = pd.read_csv('Beneath The Waves.csv')

In [19]:
beneath_the_waves.head(10)

,DeployID,Shark ID,Prg No.,Latitude,Longitude,Loc. quality,Loc. date,Loc. type,Altitude,Pass,...,SENSOR #23,SENSOR #24,SENSOR #25,SENSOR #26,SENSOR #27,SENSOR #28,SENSOR #29,SENSOR #30,SENSOR #31,SENSOR #32
0,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,176750,6328,52.09686,-18.56774,A,8-2-18 23:40,Argos,0.0,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,176750,6328,52.09686,-18.56774,A,8-2-18 23:40,Argos,0.0,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,176750,6328,52.09686,-18.56774,A,8-2-18 23:40,Argos,0.0,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,176750,6328,42.21174,-69.76559,2,8-3-18 0:34,Argos,0.0,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,176750,6328,42.21174,-69.76559,2,8-3-18 0:34,Argos,0.0,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,176750,6328,42.21174,-69.76559,2,8-3-18 0:34,Argos,0.0,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#beneath the wave data
gallagher_btw_tracks = pd.read_csv('Gallagher_BTW_Tracks.csv')

In [21]:
gallagher_btw_tracks.head(10)

      ptt             dt        lat        lon class  Unnamed: 5
0  106744   8-27-16 0:00  41.404333 -69.298667     3         NaN
1  106744  8-27-16 23:29  41.416000 -69.157000     0         NaN
2  106744  8-27-16 23:29  41.415600 -69.157400     0         NaN
3  106744   8-28-16 9:26  41.326800 -69.132600     1         NaN
4  106744   8-28-16 9:29  41.327000 -69.133000     1         NaN
5  106744  8-28-16 11:06  41.310100 -69.143200     0         NaN
6  106744  8-28-16 11:08  41.310000 -69.143000     0         NaN
7  106744  8-28-16 20:49  41.419400 -69.303200     A         NaN
8  106744  8-28-16 20:50  41.419000 -69.303000     A         NaN
9  106744  8-28-16 22:07  41.407000 -69.049000     A         NaN

In [27]:
#global fish watch 2012
path = r'C:\Users\admin\Desktop\fishing_byvessel\2012'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2012 = pd.concat(li, axis=0, ignore_index=True)

In [28]:
frame2012.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2012-01-01 00:00:00 UTC     -461     -607  416755000       2.457917
1  2012-01-01 00:00:00 UTC     -461     -607  440548000       2.400417
2  2012-01-01 00:00:00 UTC     -460     -607  440548000       1.614444
3  2012-01-01 00:00:00 UTC     -460     -607  416032500      11.497083
4  2012-01-01 00:00:00 UTC     -459     -607  416842000      11.521944
5  2012-01-01 00:00:00 UTC     -459     -606  416046800       4.023194
6  2012-01-01 00:00:00 UTC     -458     -607  441303000       0.783194
7  2012-01-01 00:00:00 UTC     -458     -606  441303000       3.201528
8  2012-01-01 00:00:00 UTC     -458     -606  440502000       2.402361
9  2012-01-01 00:00:00 UTC     -457     -607  441412000       4.037917

In [32]:
#global fish watch 2013
path = r'C:\Users\admin\Desktop\fishing_byvessel\2013'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2013 = pd.concat(li, axis=0, ignore_index=True)

In [30]:
frame2013.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2013-01-01 00:00:00 UTC        0     1450  441853000       4.335556
1  2013-01-01 00:00:00 UTC      256     -150  273259100       0.499028
2  2013-01-01 00:00:00 UTC      256     1740  431725000       2.280139
3  2013-01-01 00:00:00 UTC      256     -161  257483500       0.274722
4  2013-01-01 00:00:00 UTC      256     1742  431798000       0.677639
5  2013-01-01 00:00:00 UTC      256     1743  431798000       0.324722
6  2013-01-01 00:00:00 UTC      512     1561  273429800       0.764028
7  2013-01-01 00:00:00 UTC      512     1556  273437810       1.620833
8  2013-01-01 00:00:00 UTC      768      290  273811080       1.568333
9  2013-01-01 00:00:00 UTC      768      305  273421520       2.366250

In [33]:
# global fish watcḥ 2014
path = r'C:\Users\admin\Desktop\fishing_byvessel\2014'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2014 = pd.concat(li, axis=0, ignore_index=True)

In [34]:
frame2014.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2014-01-01 00:00:00 UTC     -345      256  601339000       3.728194
1  2014-01-01 00:00:00 UTC     -343      256  601339000       2.441806
2  2014-01-01 00:00:00 UTC      716      256  273811080       1.554306
3  2014-01-01 00:00:00 UTC      717      256  273421520       3.946389
4  2014-01-01 00:00:00 UTC      717      256  273350610       9.479444
5  2014-01-01 00:00:00 UTC      717      256  273316960       4.734167
6  2014-01-01 00:00:00 UTC      717      256  273811080       3.938889
7  2014-01-01 00:00:00 UTC      718      256  273350610       1.551389
8  2014-01-01 00:00:00 UTC     -154      512  416002198       2.473472
9  2014-01-01 00:00:00 UTC     -291      768  263583000       4.444444

In [44]:
# global fish watch 2015
path = r'C:\Users\admin\Desktop\fishing_byvessel\2015'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2015 = pd.concat(li, axis=0, ignore_index=True)

In [45]:
frame2015.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2015-01-01 00:00:00 UTC       55        0  627009000       6.662222
1  2015-01-01 00:00:00 UTC       56        0  627009000       2.936667
2  2015-01-01 00:00:00 UTC      605        0  235001050       2.000000
3  2015-01-01 00:00:00 UTC      607        0  233883000       7.305556
4  2015-01-01 00:00:00 UTC      501        0  228323000       1.935278
5  2015-01-01 00:00:00 UTC      502        0  228323000       6.453333
6  2015-01-01 00:00:00 UTC     -345      256  601339000       2.247361
7  2015-01-01 00:00:00 UTC     -345      256  601572000       0.981667
8  2015-01-01 00:00:00 UTC     -345      256  601053700       4.453333
9  2015-01-01 00:00:00 UTC     -345      256  601479000       1.232361

In [37]:
# global fish watch 2016
path = r'C:\Users\admin\Desktop\fishing_byvessel\2016'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2016 = pd.concat(li, axis=0, ignore_index=True)

In [39]:
frame2016.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2016-01-01 00:00:00 UTC        0     1715  412460297       0.876389
1  2016-01-01 00:00:00 UTC        0     1780  412328728       0.733333
2  2016-01-01 00:00:00 UTC        0     1592  431700060       1.837639
3  2016-01-01 00:00:00 UTC        0    -1069  224156000       0.902778
4  2016-01-01 00:00:00 UTC        0    -1068  224156000       0.725000
5  2016-01-01 00:00:00 UTC        0    -1071  224156000       3.824583
6  2016-01-01 00:00:00 UTC        0    -1072  224156000       3.528333
7  2016-01-01 00:00:00 UTC        0     1711  441084000       1.347361
8  2016-01-01 00:00:00 UTC        0     1757  440987000       1.345417
9  2016-01-01 00:00:00 UTC        0     1758  440987000       3.998889

In [40]:
# global fish watch 2017
path = r'C:\Users\admin\Desktop\fishing_byvessel\2017'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2017 = pd.concat(li, axis=0, ignore_index=True)

In [41]:
frame2017.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2017-01-01 00:00:00 UTC        0    -1648  416003073       1.879167
1  2017-01-01 00:00:00 UTC        0    -1641  416003073       1.912778
2  2017-01-01 00:00:00 UTC        0    -1642  416003073       0.624861
3  2017-01-01 00:00:00 UTC        0    -1647  416003073       0.537639
4  2017-01-01 00:00:00 UTC        0    -1646  416003073       3.254306
5  2017-01-01 00:00:00 UTC        0    -1643  416003073       1.550000
6  2017-01-01 00:00:00 UTC        0    -1178  412420651       2.198611
7  2017-01-01 00:00:00 UTC        0    -1177  412420651       3.654583
8  2017-01-01 00:00:00 UTC        0     1798  416004409       0.258056
9  2017-01-01 00:00:00 UTC        0    -1176  412420677       3.582222

In [42]:
# global fish watch 2018
path = r'C:\Users\admin\Desktop\fishing_byvessel\2018'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame2018 = pd.concat(li, axis=0, ignore_index=True)

In [43]:
frame2018.head(10)

                      date  lat_bin  lon_bin       mmsi  fishing_hours
0  2018-01-01 00:00:00 UTC        0     1537  510086000       2.730556
1  2018-01-01 00:00:00 UTC        0     1536  510086000       0.615278
2  2018-01-01 00:00:00 UTC      256    -1563  366827010       0.995000
3  2018-01-01 00:00:00 UTC      256    -1551  367396870       1.680000
4  2018-01-01 00:00:00 UTC      256    -1552  367396870       0.399167
5  2018-01-01 00:00:00 UTC      256      573  412460041       0.702917
6  2018-01-01 00:00:00 UTC      256    -1591  367514890       5.018611
7  2018-01-01 00:00:00 UTC      256    -1590  367514890       2.224444
8  2018-01-01 00:00:00 UTC      256     1201  412061451       0.766250
9  2018-01-01 00:00:00 UTC      256     1200  412061451       1.992500