In [2]:
import pandas as pd
import numpy as np

### Ocean Research

In [16]:
All_Animals_Oceanreach = pd.read_csv('Oceanreach/All_Animal_Data.csv')
All_Animals_Oceanreach.head(10)

,active,datetime,id,latitude,longitude,tz_datetime,animal_type,animal_id,epoch_time
0,1,2012-03-16 18:31:39,1,-34.142,22.200,16 March 2012 6:31:39 PM +0900,White Shark (Carcharodon carcharias),9,1331922699
1,1,2012-03-16 18:48:58,2,-34.115,22.201,16 March 2012 6:48:58 PM +0900,White Shark (Carcharodon carcharias),9,1331923738
2,1,2012-03-16 20:15:40,3,-34.138,22.200,16 March 2012 8:15:40 PM +0900,White Shark (Carcharodon carcharias),9,1331928940
3,1,2012-03-16 23:09:05,4,-34.192,22.228,16 March 2012 11:09:05 PM +0900,White Shark (Carcharodon carcharias),9,1331939345
4,1,2012-03-17 0:36:43,5,-34.204,22.239,17 March 2012 12:36:43 AM +0900,White Shark (Carcharodon carcharias),9,1331944603
5,1,2012-03-17 0:52:50,6,-34.210,22.209,17 March 2012 12:52:50 AM +0900,White Shark (Carcharodon carcharias),9,1331945570
6,1,2012-03-17 1:16:51,7,-34.218,22.208,17 March 2012 1:16:51 AM +0900,White Shark (Carcharodon carcharias),9,1331947011
7,1,2012-03-17 2:36:14,8,-34.236,22.204,17 March 2012 2:36:14 AM +0900,White Shark (Carcharodon carcharias),9,1331951774
8,1,2012-03-17 4:32:38,9,-34.224,22.187,17 March 2012 4:32:38 AM +0900,White Shark (Carcharodon carcharias),9,1331958758
9,1,2012-03-17 4:33:52,10,-34.246,22.208,17 March 2012 4:33:52 AM +0900,White Shark (Carcharodon carcharias),9,1331958832

In [17]:
print("Latitude Min:", All_Animals_Oceanreach.latitude.min())
print("Latitude Max:", All_Animals_Oceanreach.latitude.max())

print("Longitude Min:", All_Animals_Oceanreach.longitude.min())
print("Longitude Max:", All_Animals_Oceanreach.longitude.max())

Latitude Min: -45.62415
Latitude Max: 53.65843
Longitude Min: -177.57416669999998
Longitude Max: 179.1386111

In [18]:
Complete_Oceanreach = pd.read_csv('Oceanreach/complete_df.csv').dropna(how='all')
Complete_Oceanreach.head(10)

,Unnamed: 0,shark_id,prg_no,lat,long,loc_quality,loc_date,loc_type,alt,pass,...,semi_major_axis,semi_minor_axis,ellipse_orientation,gdop,depth,depthChangeDownstream,depthChangeUpstream,bearing,timeStep,distanceStep
0,7,176750,6328,42.21174,-69.76559,2,2018-08-03 0:34:00,Argos,0,232,...,1113,111,147,941,-230.133287,40.972394,2.416062,0.000000,0 days 00:00:00.000000000,0.000000
1,19,176750,6328,42.22635,-69.29816,3,2018-08-05 1:35:00,Argos,0,364,...,608,79,75,250,-210.668800,13.669697,-12.705825,103.202092,2 days 01:01:00.000000000,52.059668
2,21,176750,6328,42.23238,-69.26292,0,2018-08-05 1:35:00,Argos,0,241,...,40196,89,80,1361,-203.973541,4.200017,-26.632427,95.444627,0 days 00:00:00.000000000,3.979929
3,37,176750,6328,42.17643,-68.26119,0,2018-08-08 13:23:00,Argos,0,329,...,75151,234,105,1213,-194.135294,6.043765,4.494556,108.364567,3 days 11:48:00.000000000,111.686277
4,46,176750,6328,42.09855,-68.03666,0,2018-08-09 14:54:00,Argos,0,159,...,98147,275,93,3037,-219.582365,-7.287249,14.605635,124.597846,1 days 01:31:00.000000000,26.455522
5,51,176750,6328,42.13153,-68.00633,0,2018-08-09 20:27:00,Argos,0,324,...,40784,67,86,2202,-230.846683,5.151836,9.263103,58.119684,0 days 05:33:00.000000000,4.987814
6,58,176750,6328,42.08878,-67.94891,2,2018-08-10 0:12:00,Argos,0,173,...,2836,78,96,1296,-204.266227,6.915460,34.275356,142.201625,0 days 03:45:00.000000000,7.968995
7,70,176750,6328,42.37687,-67.96824,2,2018-08-11 15:52:00,Argos,0,506,...,593,263,84,322,-171.737983,-15.673507,13.783780,11.700808,1 days 15:40:00.000000000,32.142257
8,92,176750,6328,42.34061,-68.13517,1,2018-08-13 22:51:00,Argos,0,299,...,5250,71,73,522,-190.455827,-4.861464,-20.543565,-86.652638,2 days 06:59:00.000000000,19.015970
9,105,176750,6328,42.34930,-68.34996,2,2018-08-14 13:10:00,Argos,0,333,...,954,153,40,594,-207.999899,15.253002,-17.680116,-72.138215,0 days 14:19:00.000000000,23.929961

In [19]:
print("Latitude Min:", Complete_Oceanreach.lat.min())
print("Latitude Max:", Complete_Oceanreach.lat.max())

print("Longitude Min:", Complete_Oceanreach.long.min())
print("Longitude Max:", Complete_Oceanreach.long.max())

Latitude Min: 37.86031
Latitude Max: 42.91665
Longitude Min: -69.76559
Longitude Max: -58.54532

### Beneath the Waves

In [20]:
AG_GFW_Meta_BTW = pd.read_csv('Beneath_The_Waves/AG_GFW_Meta.csv').dropna(how='all')
AG_GFW_Meta_BTW.head(10)

,SpeciesCode,SPOT PTT,TagType,TagDay,TagMonth,TagYear,TagTime,TagLat,TagLong,TL_cm,Sex,Maturity,OcearchName,Species,Unnamed: 14,Unnamed: 15,Unnamed: 16
1,BSH,106744.0,SPOT,27.0,8.0,2016.0,NaN,41.404333,-69.298667,277,M,adult,Don,Prionace glauca,NaN,NaN,NaN
3,BSH,106745.0,SPOT,28.0,8.0,2016.0,13:33,41.520500,-69.427500,270,M,adult,Vader,Prionace glauca,NaN,NaN,NaN
5,BSH,106746.0,SPOT,28.0,8.0,2016.0,12:33,41.536667,-69.418833,262,M,adult,Ciona,Prionace glauca,NaN,NaN,NaN
7,BSH,106747.0,SPOT,18.0,10.0,2016.0,NaN,41.466667,-69.333333,244,M,adult,Cubswin,Prionace glauca,NaN,NaN,NaN
9,BSH,106748.0,SPOT,27.0,8.0,2016.0,12:33,41.094567,-69.380333,245,M,adult,Mahkato,Prionace glauca,NaN,NaN,NaN
11,BSH,141261.0,SPOT,13.0,10.0,2015.0,14:45,41.321267,-69.275833,254,M,adult,Johnny,Prionace glauca,NaN,NaN,NaN
13,BSH,141262.0,SPOT,28.0,8.0,2016.0,15:27,41.535333,-69.419500,220.5,M,adult,Warne,Prionace glauca,NaN,NaN,NaN
15,BSH,141263.0,SPOT,25.0,8.0,2016.0,13:21,41.487000,-69.326000,248,M,adult,Machaca,Prionace glauca,NaN,NaN,NaN
17,BSH,141264.0,SPOT,21.0,10.0,2015.0,16:16,41.587333,-69.446667,254,M,adult,Roland,Prionace glauca,NaN,NaN,NaN
19,BSH,141265.0,SPOT,27.0,8.0,2016.0,12:00,41.094567,-69.380333,241,M,adult,Sawtooth,Prionace glauca,NaN,NaN,NaN

In [21]:
print("Latitude Min:", AG_GFW_Meta_BTW.TagLat.min())
print("Latitude Max:", AG_GFW_Meta_BTW.TagLat.max())

print("Longitude Min:", AG_GFW_Meta_BTW.TagLong.min())
print("Longitude Max:", AG_GFW_Meta_BTW.TagLong.max())

Latitude Min: 41.09456667
Latitude Max: 41.80286667
Longitude Min: -69.83333333
Longitude Max: -69.27583333

In [22]:
Beneath_The_Waves_Sensor = pd.read_csv('Beneath_The_Waves/Beneath_The_Waves.csv').dropna(how='all')
Beneath_The_Waves_Sensor.head(10)

,DeployID,Shark ID,Prg No.,Latitude,Longitude,Loc. quality,Loc. date,Loc. type,Altitude,Pass,...,SENSOR #23,SENSOR #24,SENSOR #25,SENSOR #26,SENSOR #27,SENSOR #28,SENSOR #29,SENSOR #30,SENSOR #31,SENSOR #32
0,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,176750,6328,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,176750,6328,52.09686,-18.56774,A,8-2-18 23:40,Argos,0.0,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,176750,6328,52.09686,-18.56774,A,8-2-18 23:40,Argos,0.0,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,176750,6328,52.09686,-18.56774,A,8-2-18 23:40,Argos,0.0,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,176750,6328,42.21174,-69.76559,2,8-3-18 0:34,Argos,0.0,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,176750,6328,42.21174,-69.76559,2,8-3-18 0:34,Argos,0.0,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,176750,6328,42.21174,-69.76559,2,8-3-18 0:34,Argos,0.0,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
print("Latitude Min:", Beneath_The_Waves_Sensor.Latitude.min())
print("Latitude Max:", Beneath_The_Waves_Sensor.Latitude.max())

print("Longitude Min:", Beneath_The_Waves_Sensor.Longitude.min())
print("Longitude Max:", Beneath_The_Waves_Sensor.Longitude.max())

Latitude Min: 37.86031
Latitude Max: 52.09686
Longitude Min: -69.76631
Longitude Max: -18.56774

In [5]:
Gallagher_Tracks_BTW = pd.read_csv('Beneath_The_Waves/Gallagher_BTW_Tracks.csv')

Gallagher_Tracks_BTW.lat 
# Gallagher_Tracks_BTW # .head(10)

SyntaxError: invalid syntax (<ipython-input-5-c713dbd98336>, line 3)

In [25]:
print("Latitude Min:", Gallagher_Tracks_BTW.lat.min())
print("Latitude Max:", Gallagher_Tracks_BTW.lat.max())

print("Longitude Min:", Gallagher_Tracks_BTW.lon.min())
print("Longitude Max:", Gallagher_Tracks_BTW.lon.max())

Latitude Min: 10.435
Latitude Max: 52.0969
Longitude Min: -93.4268
Longitude Max: -18.5677

### Global Fishing Watch (GFW)

In [26]:
import glob
import pandas as pd
import numpy as np

def gfwData():
    
    All_GFW_Grid = pd.DataFrame()
    for year in range(2012, 2019):

        yearby = glob.glob('Fishing_By_Vessel/' + str(year) + "\*.csv")

        li = []
        for yr in yearby:
            df = pd.read_csv(yr, index_col=None, header=0)
            li.append(df)

        GFW_Year = pd.concat(li, axis=0, ignore_index=True)
        All_GFW_Grid = pd.concat([All_GFW_Grid, GFW_Year])

    All_GFW_Grid.lat_bin = All_GFW_Grid.lat_bin/10
    All_GFW_Grid.lon_bin = All_GFW_Grid.lon_bin/10
    
    return All_GFW_Grid
    
All_GFW_Grid = gfwData()

All_GFW_Grid.head

<bound method NDFrame.head of                              date  lat_bin  lon_bin       mmsi  fishing_hours
0         2012-01-01 00:00:00 UTC    -46.1    -60.7  416755000       2.457917
1         2012-01-01 00:00:00 UTC    -46.1    -60.7  440548000       2.400417
2         2012-01-01 00:00:00 UTC    -46.0    -60.7  440548000       1.614444
3         2012-01-01 00:00:00 UTC    -46.0    -60.7  416032500      11.497083
4         2012-01-01 00:00:00 UTC    -45.9    -60.7  416842000      11.521944
5         2012-01-01 00:00:00 UTC    -45.9    -60.6  416046800       4.023194
6         2012-01-01 00:00:00 UTC    -45.8    -60.7  441303000       0.783194
7         2012-01-01 00:00:00 UTC    -45.8    -60.6  441303000       3.201528
8         2012-01-01 00:00:00 UTC    -45.8    -60.6  440502000       2.402361
9         2012-01-01 00:00:00 UTC    -45.7    -60.7  441412000       4.037917
10        2012-01-01 00:00:00 UTC    -45.5    -60.1  441495000       2.433056
11        2012-01-01 00:00:00 UTC    -45.4    -60.6  440818000       4.017361
12        2012-01-01 00:00:00 UTC      7.3    -31.3  431316000       0.015278
13        2012-01-01 00:00:00 UTC    -16.0   -121.4  431182000       3.316667
14        2012-01-01 00:00:00 UTC    -15.8   -121.4  431182000       0.875139
15        2012-01-01 00:00:00 UTC    -15.7   -121.4  431182000       0.116389
16        2012-01-01 00:00:00 UTC    -15.4   -121.4  431182000       3.127778
17        2012-01-01 00:00:00 UTC    -15.3   -121.5  431182000       6.638611
18        2012-01-01 00:00:00 UTC     -4.3   -174.0  440108000       0.960833
19        2012-01-01 00:00:00 UTC     -4.2   -174.0  440108000       1.780556
20        2012-01-01 00:00:00 UTC     -4.1    178.5  538060017      12.167917
21        2012-01-01 00:00:00 UTC     -4.0   -160.1  440617000       0.840000
22        2012-01-01 00:00:00 UTC     -4.0   -160.0  440617000       1.049444
23        2012-01-01 00:00:00 UTC     -3.9    178.6  538060017       4.797361
24        2012-01-01 00:00:00 UTC     -3.2    162.7  440886000       6.675972
25        2012-01-01 00:00:00 UTC     -3.2    163.0  440886000      12.198333
26        2012-01-01 00:00:00 UTC     -3.1    162.6  440886000       2.654583
27        2012-01-01 00:00:00 UTC     -2.9    162.6  440886000       4.553889
28        2012-01-01 00:00:00 UTC     -1.4    178.0  440772000       4.969028
29        2012-01-01 00:00:00 UTC     -1.1    178.3  440772000      10.569444
...                           ...      ...      ...        ...            ...
17935386  2018-12-31 00:00:00 UTC    -51.3    -68.6  701006427       3.576806
17935387  2018-12-31 00:00:00 UTC    -51.3     69.5  635212000       1.051667
17935388  2018-12-31 00:00:00 UTC    -51.3     69.6  635212000       0.062222
17935389  2018-12-31 00:00:00 UTC    -25.7    112.1  503024660       0.808333
17935390  2018-12-31 00:00:00 UTC    -25.7    112.0  503024660       0.987917
17935391  2018-12-31 00:00:00 UTC    -25.7     34.0  275454000       0.050833
17935392  2018-12-31 00:00:00 UTC    -25.7     57.3  225374000       0.305417
17935393  2018-12-31 00:00:00 UTC    -25.7     57.5  225374000       0.747361
17935394  2018-12-31 00:00:00 UTC    -25.7     57.6  225374000       0.381806
17935395  2018-12-31 00:00:00 UTC    -25.7     13.6  659036000       1.819306
17935396  2018-12-31 00:00:00 UTC    -25.7     42.2  431200750       0.537361
17935397  2018-12-31 00:00:00 UTC    -25.7     42.4  431200750       0.875833
17935398  2018-12-31 00:00:00 UTC    -25.7    112.2  503501300       1.793056
17935399  2018-12-31 00:00:00 UTC     -0.1    162.5  416002568       0.333333
17935400  2018-12-31 00:00:00 UTC     -0.1    162.6  416002568       0.333194
17935401  2018-12-31 00:00:00 UTC     -0.1    162.7  416002568       1.830833
17935402  2018-12-31 00:00:00 UTC     -0.1     81.1  417341252       1.921111
17935403  2018-12-31 00:00:00 UTC     -0.1    158.8  416076700       1.089444
17935404  2018-12-31 00:00:00 UTC     -0.1    158.7  416076700       0.076667
17935405  2018-12-31 00:00:00 UTC     -0.1    167.0  553111750       0.480556
17935406  2018-12-31 00:00:00 UTC     -0.1    167.1  553111750       3.490417
17935407  2018-12-31 00:00:00 UTC     -0.1   -165.7  412205520       1.552639
17935408  2018-12-31 00:00:00 UTC     -0.1   -165.6  412205520       0.333194
17935409  2018-12-31 00:00:00 UTC     -0.1   -165.1  412205520       1.525278
17935410  2018-12-31 00:00:00 UTC     -0.1   -122.1  200041700       1.178333
17935411  2018-12-31 00:00:00 UTC     -0.1   -122.3  200041700       0.883056
17935412  2018-12-31 00:00:00 UTC     -0.1   -122.4  200041700       0.765694
17935413  2018-12-31 00:00:00 UTC     -0.1    161.2  416003814       3.092222
17935414  2018-12-31 00:00:00 UTC     -0.1    161.1  416003814       2.174167
17935415  2018-12-31 00:00:00 UTC     -0.1   -120.2  412440045       1.661111

[74697925 rows x 5 columns]>

In [27]:
print("Latitude Min:", All_GFW_Grid.lat_bin.min())
print("Latitude Max:", All_GFW_Grid.lat_bin.max())

print("Longitude Min:", All_GFW_Grid.lon_bin.min())
print("Longitude Max:", All_GFW_Grid.lon_bin.max())

Latitude Min: -79.6
Latitude Max: 91.0
Longitude Min: -180.0
Longitude Max: 181.0

### Data Attr

In [28]:
# import pickle
# pickle_out = open("frame12.pickle","wb")
# pickle.dump(frame12,pickle_out)
# pickle_out.close()